.leftbar{
  .container{
hr{
  margin: 20px 0px;
  border: none;
  height: 0.5px;
  background-color: lightgray;
}
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    hr{
      width: 100%;
    }
    .menu{
      display: flex;
      flex-direction: column;
      gap: 10px;
      .dropdown {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5px;
        .dropdown-text {
          cursor: pointer;
          
        }

        .dropdown-content {
          display: flex;
          flex-direction: column;
          gap: 10px;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease-in-out;
          
          &.open {
            max-height: 200px; 
          
          }
          .item{
            display: flex;
            align-items: center;
            gap: 20px;
            img{
              width: 25px;
              height: 25px;
            }
            span{
              font-size: 15px;
            }
          }
        }
      }
      .item{
        display: flex;
        align-items: center;
        gap: 20px;
        img{
          width: 25px;
          height: 25px;
        }
        span{
          font-size: 15px;
        }
      }
    }
  } 
}